{{#section 'css'}}
<style>
    .nav-link.active{
        font-weight: bold;
        background-color: #F3EC1C !important;
    }
</style>
{{/section}}
<div class="tw-pt-[70px] tw-flex tw-h-screen">
    {{!-- Left side --}}
    <div class="tw-px-3 tw-overflow-y-scroll tw-bg-white tw-w-[55%] tw-max-w-[100%]" id="mainContent" style="overflow: scroll; scrollbar-width: none;">
        <h3>Your booking</h3>
      <nav>
            <div class="nav nav-tabs" id="booking-tab" role="tablist">
                <button class="nav-link active" id="tab-all" data-bs-toggle="tab" data-bs-target="#content-all" type="button" role="tab" aria-controls="content-all" aria-selected="true">All</button>
                <button class="nav-link" id="tab-pending" data-bs-toggle="tab" data-bs-target="#content-pending" type="button" role="tab" aria-controls="content-pending" aria-selected="false">Pending</button>
                <button class="nav-link" id="tab-confirmed" data-bs-toggle="tab" data-bs-target="#content-confirmed" type="button" role="tab" aria-controls="content-confirmed" aria-selected="false">Confirmed</button>
                <button class="nav-link" id="tab-completed" data-bs-toggle="tab" data-bs-target="#content-completed" type="button" role="tab" aria-controls="content-completed" aria-selected="false">Completed</button>
                <button class="nav-link" id="tab-paid" data-bs-toggle="tab" data-bs-target="#content-paid" type="button" role="tab" aria-controls="content-paid" aria-selected="false">Paid</button>
            </div>
            </nav>

            <div class="tab-content mt-3" id="booking-tabContent">
            <div class="tab-pane fade show active" id="content-all" role="tabpanel" aria-labelledby="tab-all" tabindex="0">
                {{#each booking}}
                <div class="card">
                    <div class="card-header">
                        {{status}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{service.serviceName}}</h5>
                        <p class="card-text">{{status.description}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        {{#if (eq status "pending")}}
                           <div class="tw-flex tw-flex-row">
                            <button class=" tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-mr-[6px] tw-bg-[#F3EC1C] hover:tw-bg-yellow-400">
                                Schedule Now
                            </button>
                            {{> cancelBooking bookedServiceIds=_id}}
                        </div>
                        {{else}}
                            <span>Status: {{status}}</span>
                        {{/if}}
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-pending" role="tabpanel" aria-labelledby="tab-pending" tabindex="0">
               {{#each bookingPending}}
                <div class="card">
                    <div class="card-header">
                        {{status}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{service.serviceName}}</h5>
                        <p class="card-text">{{status.description}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        {{#if (eq status "pending")}}
                        <div class="tw-flex tw-flex-row">
                            <button class=" tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-mr-[6px] tw-bg-[#F3EC1C] hover:tw-bg-yellow-400">
                                Schedule Now
                            </button>
                            {{> cancelBooking bookedServiceIds=_id}}
                        </div>
                        {{else}}
                            <span>Status: {{status}}</span>
                        {{/if}}
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-confirmed" role="tabpanel" aria-labelledby="tab-confirmed" tabindex="0">
               {{#each bookingConfirmed}}
                <div class="card">
                    <div class="card-header">
                        {{status}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{service.serviceName}}</h5>
                        <p class="card-text">{{status.description}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        <span>Status: {{status}}</span>
                        
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-completed" role="tabpanel" aria-labelledby="tab-completed" tabindex="0">
                {{#each bookingCompleted}}
                <div class="card">
                    <div class="card-header">
                        {{status}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{service.serviceName}}</h5>
                        <p class="card-text">{{status.description}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        {{#if (eq status "pending")}}
                            <a href="/#" class="btn btn-primary tw-bg-[#F3EC1C] tw-text-black">Schedule service</a>
                        {{else}}
                            <span>Status: {{status}}</span>
                        {{/if}}
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-paid" role="tabpanel" aria-labelledby="tab-paid" tabindex="0">
                {{#each bookingPaid}}
                <div class="card">
                    <div class="card-header">
                        {{status}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{service.serviceName}}</h5>
                        <p class="card-text">{{status.description}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        <span>Status: {{status}}</span>
                        <a href="/#" class="btn btn-primary tw-bg-black tw-text-white">Review Service</a>
                    </div>
                    </div>
                {{/each}}
            </div>
            </div>

        </div>
    </div>
    {{!-- Right side --}}
    <div class="tw-w-[45%] tw-fixed tw-right-0 tw-top-0 tw-p-20 tw-overflow-y-auto" id="fixedScreen">
        <div class="tw-flex tw-flex-col tw-stroke-black tw-h-full">
            <h4 class="tw-text-black">lala</h4>
            
            <span>Duration: <b class="tw-text-[16pt]">lala</b> minutes</span>
            <span class="tw-text-[#FF94BD] tw-font-bold tw-text-[20pt]">lala VND</span>
        </div>
    </div>
</div>
