<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Home</title>
    <link rel="icon" href="/static/imgs/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {{{_sections.css}}}
</head>

<body id="mainContent" aria-hidden="false">
    <div id="header-nav" class="tw-fixed tw-top-0 tw-left-0 tw-w-full tw-z-10 tw-bg-transparent tw-px-10">
        <div id="header" class=" d-flex flex-row justify-content-between align-items-center tw-p-[10px]">
            <a href="/"><img id="brand-logo" class=" tw-w-[45px] tw-h-[45px]" src="/static/imgs/logo.jpg"  alt="logo"></a>
            <nav class=" tw-flex tw-justify-center tw-space-x-13" role="tablist" aria-label="Main Menu Tabs">
                <div class="group" onmouseleave="hidePanel()">
                  <!-- Tabs -->
                  <div role="tablist" aria-label="Main Tabs" class="tw-text-[14pt] tw-flex tw-gap-10">
                    <a
                      role="tab"
                      id="tab-services"
                      aria-controls="tabpanel"
                      aria-selected="true"
                      href="#"
                      class="tw-text-white tw-font-bold"
                      style="text-shadow: 2px 2px 4px rgb(1, 0, 0);"
                      onmouseenter="switchTab('services')"
                    >
                      SERVICES
                    </a>
                    <a
                      role="tab"
                      id="tab-pet"
                      aria-controls="tabpanel"
                      aria-selected="false"
                      href="#"
                      class="tw-text-white tw-font-bold"
                      style="text-shadow: 2px 2px 4px rgb(1, 0, 0);"
                      onmouseenter="switchTab('pet')"
                    >
                      PET
                    </a>
                    <a
                      role="tab"
                      id="tab-about"
                      aria-controls="tabpanel"
                      aria-selected="false"
                      href="#aboutUs"
                      style="text-shadow: 2px 2px 4px rgb(1, 0, 0);"
                      class="tw-text-white tw-font-bold"
                    >
                      ABOUT US
                    </a>
                  </div>

                  <!-- Shared TabPanel -->
                  <div
                    role="tabpanel"
                    id="tabpanel"
                    aria-labelledby="tab-services"
                    class="tw-absolute tw-mt-[10px] tw-w-screen tw-top-full tw-left-0 tw-bg-white tw-hidden tw-z-50"
                    onmouseenter="cancelHidePanel()"
                    onmouseleave="hidePanel()"
                  >
                    <!-- Inner contents for each tab -->
                    <div id="panel-services" class="tab-content tw-grid tw-px-[20%] tw-py-5 tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-4">
                      <!-- For Dogs -->
                      <div>
                        <p class="tw-font-semibold tw-mb-1">For Dogs</p>
                        {{#each dogLimitCate}}
                        <a href="/service/detail?id={{id}}" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-py-2">
                          <img src="{{imageUrl}}" class="tw-w-[30px] tw-h-[30px] tw-pr-1" alt=""> {{serviceName}}
                        </a>
                        {{/each}}
                      </div>
                      <!-- For Cats -->
                      <div>
                        <p class="tw-font-semibold tw-mb-1">For Cats</p>
                         {{#each catLimitCate}}
                        <a href="/service/detail?id={{id}}" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-py-2">
                          <img src="{{imageUrl}}" class="tw-w-[30px] tw-h-[30px] tw-pr-1" alt=""> {{serviceName}}
                        </a>
                        {{/each}}
                      </div>

                      <!-- Combo Services -->
                      <div>
                        <p class="tw-font-semibold tw-mb-2">General Services</p>
                         {{#each generalLimitCate}}
                        <a href="/service/detail?id={{id}}" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-py-2">
                          <img src="{{imageUrl}}" class="tw-w-[30px] tw-h-[30px] tw-pr-1" alt=""> {{serviceName}}
                        </a>
                        {{/each}}
                      </div>
                      <!-- Highlights -->
                      <div>
                        <p class="tw-font-semibold tw-mb-2">Highlights</p>
                        <a href="#" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-mb-1">
                          <i class="bi bi-star-fill tw-mr-2 tw-text-[#F3EC1C]"></i> Top Rated
                        </a>
                        <a href="#" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-mb-1">
                          <i class="bi bi-fire tw-mr-2 tw-text-[#F3EC1C]"></i> Most Popular
                        </a>
                        <a href="#" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-mb-1">
                          <i class="bi bi-gift tw-mr-2 tw-text-[#F3EC1C]"></i> Combo
                        </a>
                      </div>
                    </div>
                    <div id="panel-pet" class="tab-content tw-p-4 tw-hidden">
              <div class="tw-grid tw-px-[20%] tw-py-5 tw-grid-cols-1 sm:tw-grid-cols-2 md:tw-grid-cols-2 lg:tw-grid-cols-2">
                <!-- Column 1: Donate -->

                <div>
                <a href="/pet/donate" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-py-2">
                    <img src="https://t4.ftcdn.net/jpg/00/97/58/97/360_F_97589769_t45CqXyzjz0KXwoBZT9PRaWGHRk5hQqQ.jpg" 
                    class="tw-w-[30px] tw-h-[30px] tw-pr-1" alt=""> <h5>Rehome Your Pet</h5>
                 </a>
                </div>

                <!-- Column 2: Adopt -->
                <div>
                <a href="/pet/byCat" class="tw-flex tw-items-center tw-text-black hover:tw-text-pink-500 tw-py-2">
                    <img src="https://dm6g3jbka53hp.cloudfront.net/static-images/adopt-me-pet-02032021.jpg" 
                    class="tw-w-[30px] tw-h-[30px] tw-pr-1" alt=""> <h5>Adopt Pet</h5>
                 </a>
                </div>

                <!-- Column 3: Dog Attributes -->
                <div>
                  
                </div>

                    <!-- Column 4: Cat Attributes -->
                <div>
                  
                </div>
                  </div>
                </div>
                </div>
                </div>


            </nav>
            <div>
            <a href="/service/booking" onclick="return handleClick(event)"><i class="bi bi-calendar tw-drop-shadow-2xl tw-text-[20pt] tw-pr-5" style="color:white; text-shadow: 2px 2px 4px rgb(1, 0, 0);" ></i></a>
            <a href="javascript:void(0)" onclick="handleClick()"><i class="bi bi-bell-fill tw-drop-shadow-2xl tw-text-[20pt]" style="color:white;text-shadow: 2px 2px 4px rgb(1, 0, 0);"></i></a>
            </div>
    </div>
    </div>

    {{{body}}}
    {{> loginRequired}}
    {{> logoutRequired}}
    <div id="footnote" class="tw-fixed tw-bottom-6 tw-left-0 tw-z-10 tw-right-0 tw-flex tw-justify-center tw-gap-[20%]">
        <!-- Home Button -->
        <button onclick="window.location.href='/';" class="tw-bg-white tw-rounded-full tw-w-[3rem] tw-h-[3rem] tw-flex tw-items-center tw-border-0 tw-justify-center " style="box-shadow:rgb(1, 0, 0)">
          <i class="bi bi-house-fill tw-text-2xl"></i>
        </button>

        <!-- Search Button -->
        <button class="tw-bg-white tw-rounded-full tw-w-[4rem] tw-h-[4rem] tw-flex tw-items-center tw-border-0 tw-justify-center " style="box-shadow:rgb(1, 0, 0)">
          <i class="bi bi-search tw-text-3xl"></i>
        </button>
        
        <!-- Profile Button -->
        {{#if authUser}}
        <button onclick="handleLogoutClick()" class="tw-bg-white tw-rounded-full tw-w-[3rem] tw-h-[3rem] tw-flex tw-items-center tw-border-0 tw-justify-center" style="box-shadow:rgb(1, 0, 0)">
          <i class="bi bi-person tw-text-2xl"></i>
        </button>
        {{else}}
        <button onclick="handleClick()" class="tw-bg-white tw-rounded-full tw-w-[3rem] tw-h-[3rem] tw-flex tw-items-center tw-border-0 tw-justify-center" style="box-shadow:rgb(1, 0, 0)">
          <i class="bi bi-person tw-text-2xl"></i>
        </button>
        {{/if}}
        
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{{_sections.js}}}
  <script>
      const authUser = {{#if authUser}}true{{else}}false{{/if}};
      function handleClick() {
        
          if (!authUser) {
            event.preventDefault();
            const modal = document.getElementById('loginModal') ;
            const main = document.querySelector('.mainContent');
            modal.classList.remove('tw-hidden');
            modal.setAttribute('aria-hidden', 'false');
            main.setAttribute('aria-hidden', 'true');
          }
      }
      function handleLogoutClick() {
        event.preventDefault();
          if (authUser) {
            const modal =  document.getElementById('logoutModal');
            const main = document.getElementById('mainContent');
            modal.classList.remove('tw-hidden');
            modal.setAttribute('aria-hidden', 'false');
            main.setAttribute('aria-hidden', 'true');
          }
      }

      function closeModal(gohome = false) {
        const modal = document.querySelector('.popupModel');
        const main = document.getElementById('mainContent');
        modal.classList.add('tw-hidden');
        modal.setAttribute('aria-hidden', 'true');
        main.setAttribute('aria-hidden', 'false');
        
        if (gohome) {
          window.location.href = '/';
        } else {
          window.history.back();
        }
          
      }
    </script>
  <script>
    let hideTimeout;

    function switchTab(tab) {
      document.querySelectorAll('[role="tab"]').forEach(el => el.setAttribute('aria-selected', 'false'));
      document.getElementById('tab-' + tab).setAttribute('aria-selected', 'true');

      document.getElementById('tabpanel').classList.remove('tw-hidden');
      document.getElementById('tabpanel').setAttribute('aria-labelledby', 'tab-' + tab);

      document.querySelectorAll('.tab-content').forEach(el => el.classList.add('tw-hidden'));
      document.getElementById('panel-' + tab).classList.remove('tw-hidden');
    }

    function hidePanel() {
      hideTimeout = setTimeout(() => {
        document.getElementById('tabpanel').classList.add('tw-hidden');
      }, 200); 
    }

    function cancelHidePanel() {
      clearTimeout(hideTimeout);
    }
  </script>
</body>

</html>