<div class="tw-pt-[70px] tw-flex tw-h-screen">
    <!-- Phần bên trái (Main content) -->
    <div class="tw-px-5 tw-overflow-y-scroll tw-bg-white tw-w-[55%] tw-max-w-[100%]" id="mainContent" style="overflow: scroll; scrollbar-width: none;">
        <img class=" tw-mx-[20%] tw-w-[450px] tw-h-[450px] tw-mb-[25px]" src="{{service.imageUrl}}" alt="{{service.imageUrl}}">
        <h3>Reccomendation</h3>
        
        <div id="container" class="tw-flex tw-flex-row tw-overflow-x-auto tw-max-w-[100%] tw-mt-8"
      style=" -ms-overflow-style: none; scrollbar-width: none; ">
          {{#each this.list}}
             <div class="tw-w-[250px] tw-h-[350px] tw-mr-2 tw-flex tw-flex-col tw-items-start tw-p-4" >
                <img class="tw-w-[200px] tw-h-[150px] tw-self-center tw-mb-2" src="{{imageUrl}}" alt="{{imageUrl}}">
                <span class="  tw-text-xl tw-font-bold tw-font-spartan">{{serviceName}}</span>
                <p class="tw-mb-0">{{shortDescription}}</p>
                <span>Duration: {{duration}} minutes</span>
                <button class="tw-bg-[#F3EC1C] tw-rounded-md tw-font-bold tw-text-center tw-border-0 tw-w-full">Book Now</button>

             </div>
             {{/each}}
        </div>
        <h3>Reviews</h3>

    </div>
    
    <!-- Phần bên phải (Fixed content) -->
    <div class="tw-w-[45%] tw-fixed tw-right-0 tw-top-0 tw-p-20 tw-overflow-y-auto" id="fixedScreen">
        <div class="tw-flex tw-flex-col tw-stroke-black tw-h-full">
            <h4 class="tw-text-black">{{service.serviceName}}</h4>
            {{{service.description}}}
            <span>Duration: <b class="tw-text-[16pt]">{{service.duration}}</b> minutes</span>
            <span class="tw-text-[#FF94BD] tw-font-bold tw-text-[20pt]">{{price_number service.price}} VND</span>
            <button class="tw-bg-[#F3EC1C] tw-rounded-md tw-font-bold tw-text-center tw-border-0 tw-py-[10px]">Book Now</button>
        </div>
    </div>
</div>

     <div id="footnote" class="tw-fixed tw-bottom-6 tw-left-0 tw-z-10 tw-right-0 tw-flex tw-justify-center tw-gap-[20%]">
        <!-- H0ome Button -->
        <button class="tw-bg-white tw-rounded-full tw-w-[3rem] tw-h-[3rem] tw-flex tw-items-center tw-border-0 tw-justify-center "style="box-shadow: 2px 2px 4px rgb(1, 0, 0);" >
          <i class="bi bi-house-fill tw-text-2xl"></i>
        </button>

        <!-- Search Button -->
        <button class="tw-bg-white tw-rounded-full tw-w-[4rem] tw-h-[4rem] tw-flex tw-items-center tw-border-0 tw-justify-center "style="box-shadow: 2px 2px 4px rgb(1, 0, 0);">
          <i class="bi bi-search tw-text-3xl"></i>
        </button>

        <!-- Profile Button -->
        <button class="tw-bg-white tw-rounded-full tw-w-[3rem] tw-h-[3rem] tw-flex tw-items-center tw-border-0 tw-justify-center"style="box-shadow: 2px 2px 4px rgb(1, 0, 0);">
          <i class="bi bi-person tw-text-2xl"></i>
        </button>
    </div>  
    
