<div class="maincontent tw-pt-[70px] tw-flex tw-h-screen">
    <!-- Phần bên trái (Main content) -->
    <div class="tw-px-5 tw-overflow-y-scroll tw-bg-white tw-w-[55%] tw-max-w-[100%]" id="mainContent" style="overflow: scroll; scrollbar-width: none;">
        <img class=" tw-mx-[20%] tw-w-[450px] tw-h-[450px] tw-mb-[25px]" src="{{service.imageUrl}}" alt="{{service.imageUrl}}">
        <h3>Reccomendation</h3>
        
        <div id="container" class="tw-flex tw-flex-row tw-overflow-x-auto tw-max-w-[100%] tw-mt-8"
      style=" -ms-overflow-style: none; scrollbar-width: none; ">
          {{#each this.list}}
             <div class="tw-w-[250px] tw-h-[350px] tw-mr-2 tw-flex tw-flex-col tw-items-start tw-p-4" >
                <img class="tw-w-[200px] tw-h-[150px] tw-self-center tw-mb-2" src="{{imageUrl}}" alt="{{imageUrl}}">
                <span class="  tw-text-xl tw-font-bold tw-font-spartan">{{serviceName}}</span>
                <p class="tw-mb-0">{{shortDescription}}</p>
                <span>Duration: {{duration}} minutes</span>
                <a href="detail?id={{id}}">
                <button type="submit" class="tw-bg-[#F3EC1C] hover:tw-bg-yellow-400 tw-rounded-md tw-font-bold tw-text-center tw-border-0 tw-w-full tw-p-2 transition-colors duration-200"
                >
                View detail
                </button>
                </a>
             </div>
             {{/each}}
        </div>
        <h3>Reviews</h3>
        <span>{{starRating 5}} <b>4.8</b> 999+</span>
        <hr class=" tw-bg-black">
        <h5>Date of review: {{formatDate '2024-11-25'}}</h5>
        <span>{{starRating 4.5}} </span>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium at inventore odio consequuntur quisquam deserunt. Nemo itaque hic voluptas adipisci corporis? 
        Animi in praesentium temporibus architecto modi atque omnis libero!
        </p>
        <hr class=" tw-bg-black">
    </div>
    
    <!-- Phần bên phải (Fixed content) -->
    <div class="tw-w-[45%] tw-fixed tw-right-0 tw-top-0 tw-p-20 tw-overflow-y-auto" id="fixedScreen">
        <div class="tw-flex tw-flex-col tw-stroke-black tw-h-full">
            <h4 class="tw-text-black">{{service.serviceName}}</h4>
            {{{service.description}}}
            <span>Duration: <b class="tw-text-[16pt]">{{service.duration}}</b> minutes</span>
            <span class="tw-text-[#FF94BD] tw-font-bold tw-text-[20pt]">{{price_number service.price}} VND</span>
            {{> bookingButton bookedServiceIds=service._id}}
        </div>
    </div>
</div>
