
{{#section "css"}}
     <link rel="stylesheet" href="/static/css/cssPet/pet.detail.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
<hr style="color: #E2E1E1; border: 1px solid; width: 100%">
    <div class="card-body">
<div class="container">
    <div class="gallery">
        <div class="top-row">
            <img src="{{pet.images.[0]}}" alt="">
            <img src="{{pet.images.[1]}}" alt="">
        </div>
        <img src="{{pet.images.[2]}}" alt="" class="full-width">
    </div>
    <div class="info">
      <h2>{{pet.name}} | {{formatDate pet.dod}}</h2>
      <div class="attr"><strong>ID:</strong> #{{pet._id}}</div>
      <div class="attr"><strong>Age:</strong> {{pet.age}} months</div>
      <div class="attr"><strong>Breed:</strong> {{pet.breed}}</div>
      <div class="attr"><strong>Vaccine:</strong> {{pet.vaccine}}</div>
      <div class="attr"><strong>Weight:</strong> {{pet.weight}} KG</div>
      <div class="attr"><strong>Gender:</strong> {{pet.gender}}</div>
      <a href="/pet/adopt?id={{pet._id}}" class="btn btn-dark" style="width: 100%;">Adopt Now</a>
    </div>
  </div>

  <div class="description">
    <h3>Description</h3>
    <p>{{pet.description}}</p>
  </div>
<hr style="color: #E2E1E1; border: 1px solid; width: 100%">
  <div class="see-more">
    <h3>See More</h3>
    <div class="card-body">
        <div class="row">
            {{#each suggest}}
               <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <div class="card" style="width: 100%;">
                        <img src="{{images.[0]}}" class="card-img-top" alt="..." style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start mb-2">
                                <h5 class="card-title mb-0 tw-font-bold">{{name}}</h5>
                                <div class="d-flex">
                                    <a class="btn btn-outline-primary tag"
                                    href="/pet/byCat?specie={{specie}}"
                                    style="font-size: 13px; padding: 4px 10px;">
                                    {{specie}}
                                    </a>
                                    <a class="btn btn-outline-primary tag"
                                    href="/pet/byCat?gender={{gender}}"
                                    style="font-size: 13px; padding: 4px 10px; margin-left: 3px">
                                    {{gender}}
                                    </a>
                                </div>
                            </div>

                            <p class="card-text" style="font-size: 10pt;">{{truncate description 100}}</p>
                            

                            <a href="/pet/detail?id={{_id}}" class="btn btn-warning tw-w-full tw-text-white tw-text-[12pt]">See Details</a>
                        </div>

                    </div>
                
                </div>
            {{/each}}
        </div>
    </div>
  </div>
