{{#section 'css'}}
<style>
    .nav-link.active{
        font-weight: bold;
        background-color: #F3EC1C !important;
    }
    .tab-content{
        max-height: max-content;
        padding-bottom:10% ;
    }
</style>
{{/section}}
    <div class=" tw-overflow-y-scroll tw-max-w-[100%]" id="mainContent" style="overflow: scroll; scrollbar-width: none;">
        <h1 class="card-title text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-yellow-300">All booking</h1>
      <nav>
            <div class="nav nav-tabs" id="booking-tab" role="tablist">
                <button class="nav-link active" id="tab-all" data-bs-toggle="tab" data-bs-target="#content-all" type="button" role="tab" aria-controls="content-all" aria-selected="true">All</button>
                <button class="nav-link" id="tab-waitshifting" data-bs-toggle="tab" data-bs-target="#content-waitshifting" type="button" role="tab" aria-controls="content-waitshifting" aria-selected="false">Wait Shifting</button>
                <button class="nav-link" id="tab-rejected" data-bs-toggle="tab" data-bs-target="#content-rejected" type="button" role="tab" aria-controls="content-rejected" aria-selected="false">Cancelled</button>
                <button class="nav-link" id="tab-completed" data-bs-toggle="tab" data-bs-target="#content-completed" type="button" role="tab" aria-controls="content-completed" aria-selected="false">Completed</button>
                <button class="nav-link" id="tab-paid" data-bs-toggle="tab" data-bs-target="#content-paid" type="button" role="tab" aria-controls="content-paid" aria-selected="false">Paid</button>
            </div>
            </nav>

            <div class="tab-content mt-3" id="booking-tabContent">
            <div class="tab-pane fade show active" id="content-all" role="tabpanel" aria-labelledby="tab-all" tabindex="0">
                {{#each booking}}
                <div class="card tw-border-black tw-mb-1">
                    <div class="card-header tw-border-black tw-bg-[#FFE1E0]">
                        {{status}}
                    </div>
                    <div class="card-body tw-flex tw-flex-row tw-gap-2">
                        <img src="{{service.imageUrl}}" class="tw-w-[150px] tw-h-[150px]" alt="">
                        <div>
                        <a href="/service/detail?id={{service.id}}">
                        <h5 class="card-title tw-text-xl tw-font-bold tw-bg-clip-text tw-bg-gradient-to-r tw-from-pink-400 tw-to-yellow-300">{{service.serviceName}}</h5>
                        </a>
                        <p class="card-text">{{service.shortDescription}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <p>Start Time: {{formatDate shift.startTime}}</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        {{#if (or (eq status "cancelled") (eq status "completed"))}}
                        <span>Status: {{status}}</span>
                        {{else}}
                        {{#unless inCharge}}
                            <div class="tw-flex tw-flex-row">
                            <a href="/owner/manageService/shift-staff?id={{_id}}">
                                <button class="tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-mr-[6px] tw-bg-[#F3EC1C] hover:tw-bg-yellow-400">
                                Shift now
                                </button>
                            </a>
                            {{> rejectBooking bookedServiceIds=_id}}
                            </div>
                        {{else}}
                            <h4 class="tw-text-yellow-500">Staff: {{inCharge.name}}</h4>
                            {{> rejectBooking bookedServiceIds=_id}}
                        {{/unless}}
                        {{/if}}

                    </div>
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-waitshifting" role="tabpanel" aria-labelledby="tab-waitshifting" tabindex="0">
               {{#each bookingWaitShifting}}
                <div class="card tw-border-black tw-mb-1">
                    <div class="card-header tw-border-black tw-bg-[#FFE1E0]">
                        {{status}}
                    </div>
                    <div class="card-body tw-flex tw-flex-row tw-gap-2">
                        <img src="{{service.imageUrl}}" class="tw-w-[150px] tw-h-[150px]" alt="">
                        <div>
                        <a href="/service/detail?id={{service.id}}">
                        <h5 class="card-title tw-text-xl tw-font-bold tw-bg-clip-text tw-bg-gradient-to-r tw-from-pink-400 tw-to-yellow-300">{{service.serviceName}}</h5>
                        </a>
                        <p class="card-text">{{service.shortDescription}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                      
                        <div class="tw-flex tw-flex-row">
                        <a href="/owner/manageService/shift-staff?id={{_id}}">
                        <button class=" tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-mr-[6px] tw-bg-[#F3EC1C] hover:tw-bg-yellow-400">
                            Shift Now
                        </button>
                        </a>
                        {{> rejectBooking bookedServiceIds=_id}}
                        </div>  
                    </div>
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-rejected" role="tabpanel" aria-labelledby="tab-rejected" tabindex="0">
               {{#each bookingRejected}}
                <div class="card tw-border-black tw-mb-1">
                    <div class="card-header tw-border-black tw-bg-[#FFE1E0]">
                        {{status}}
                    </div>
                    <div class="card-body tw-flex tw-flex-row tw-gap-2">
                        <img src="{{service.imageUrl}}" class="tw-w-[150px] tw-h-[150px]" alt="">
                        <div>
                        <a href="/service/detail?id={{service.id}}">
                        <h5 class="card-title tw-text-xl tw-font-bold tw-bg-clip-text tw-bg-gradient-to-r tw-from-pink-400 tw-to-yellow-300">{{service.serviceName}}</h5>
                        </a>
                        <p class="card-text">{{service.shortDescription}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        <span>Status: {{status}}</span>                       
                    </div>
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-completed" role="tabpanel" aria-labelledby="tab-completed" tabindex="0">
                {{#each bookingCompleted}}
                <div class="card tw-border-black tw-mb-1">
                    <div class="card-header tw-border-black tw-bg-[#FFE1E0]">
                        {{status}}
                    </div>
                    <div class="card-body tw-flex tw-flex-row tw-gap-2">
                        <img src="{{service.imageUrl}}" class="tw-w-[150px] tw-h-[150px]" alt="">
                        <div>
                        <a href="/service/detail?id={{service.id}}">
                        <h5 class="card-title tw-text-xl tw-font-bold tw-bg-clip-text tw-bg-gradient-to-r tw-from-pink-400 tw-to-yellow-300">{{service.serviceName}}</h5>
                        </a>
                        <p class="card-text">{{service.shortDescription}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">Staff: {{inCharge}}</h4>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        <span>Status: {{status}}</span>
                    </div>
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="content-paid" role="tabpanel" aria-labelledby="tab-paid" tabindex="0">
                {{#each bookingPaid}}
               <div class="card tw-border-black tw-mb-1">
                    <div class="card-header tw-border-black tw-bg-[#FFE1E0]">
                        {{paymentStatus}}
                    </div>
                    <div class="card-body tw-flex tw-flex-row tw-gap-2">
                        <div>
                        {{#each bookedServices}}
                        <div class="tw-flex tw-flex-row tw-items-center tw-mt-2 tw-gap-5">
                        <img src="{{service.imageUrl}}" class="tw-w-[150px] tw-h-[150px]" alt="">
                        <div>
                        <a href="/service/detail?id={{service.id}}">
                        <h5 class="card-title tw-text-xl tw-font-bold tw-bg-clip-text tw-bg-gradient-to-r tw-from-pink-400 tw-to-yellow-300">{{service.serviceName}}</h5>
                        </a>
                        <p class="card-text">{{status.description}}</p>
                        <p>Duration: {{service.duration}} minute</p>
                        <h4 class="tw-text-[#FF94BD]">{{price_number service.price}} VND</h4>
                        <span>Status: {{status}}</span>
                        <h4 class="tw-text-yellow-500">Staff: {{inCharge.name}}</h4>
                        </div>
                        </div>
                        {{/each}}
                        <h4 class="tw-text-red-500">Accountant: {{accountant.name}}</h4>
                        </div>
                    </div>
                    </div>
                {{/each}}
            </div>
            </div>
            

      
</div>
